*{
    margin: 0;
    padding:0;
}
.parent
{
    background-color: aqua;
    width:100vw;
    height:100vh;
    position: relative;

}
.child
{
    background-color: burlywood;
    width:30vw;
    height:30vh;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}